.companies-container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
}

.companies-container .column-actions {
    display: flex;
    justify-content: end;
    align-items: center;
}

.company-view-modal-container {
    width: 28rem;
}

.companies-grid .toolbar-actions {
    width: 34rem;
    margin-right: 2rem;
}