.user-view-modal-container {
    width: 28rem;
}

.user-view-modal-content {
    height: 11rem;
}

.user-page-info-container {
    padding: 4px;
    margin: 4px;
}

.users-grid {
    
}

.users-grid .column-actions {
    display: flex;
    justify-content: end;
    width: 8rem;
}

.users-grid .symbol-filter-popover {
    padding: 2px;
    width: 15rem;
}

.users-grid .symbol-filter-popover .symbol-filter-list {
    overflow-y: auto;
    max-height: 24rem;
}